{% extends "index.html" %}
{% block title %}Register User{% endblock %}
{% block nav %}
<ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
    <li class="nav-item"><a href="/users" class="nav-link">Users</a></li> 
    <li class="nav-item"><a href="/products" class="nav-link">products</a></li> 
    <li class="nav-item"><a href="/faqs" class="nav-link">FAQs</a></li> 
</ul> 

{% endblock %}
{% block content %}

<div class="container w-50 m-auto shadow rounded w-50 d-flex flex-wrap justify-content-center p-3">
    <form action="/users" method="POST">
        <h1 class="h3 mb-3 fw-normal">Register User</h1>
        <label class="form-label" for="username">username:</label>
        <input class="form-control" type="text" id="username" name="username" required>
        <br>
        <label class="form-label" for="email">email:</label>
        <input class="form-control" type="text" id="email" name="email" required>
        <br>
        <label class="form-label" for="password">password:</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <br>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="remember_me" name="remember_me">
            <label class="form-check-label" for="remember_me">Remember me</label>
        </div>
        <button class="btn btn-primary w-50 py-2" type="submit">Submit</button>
    </form>
</div>

{% endblock %}
