{% extends "index.html" %}
{% block title %}Users{% endblock %}
{% block nav %}
<ul class="nav nav-pills"> <li class="nav-item">
    <a href="/" class="nav-link" aria-current="page">Home</a></li> <li class="nav-item">
    <a href="/users" class="nav-link active">Users</a></li> <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li> 
    <li class="nav-item"><a href="/faqs" class="nav-link">FAQs</a></li> 
</ul> 
{% endblock %}

{% block content %}
    {% for user in users %}
    <div class="container shadow p-3 rounded">
        <form action="/userup" method="POST">
            <p>id: {{user[0]}}</p>
            <input name = "username" value="{{user[1]}}">
            <input name = "email" value="{{user[2]}}">
            <button class="btn btn-primary" type="submit">update</button>
        </form>
    </div>
    {%endfor%}
{% endblock %}